/*GENERAL STYLES*/
*{
	font-family: "open sans";
}

.row{
	margin: 0px;
}

.title-section{
	background-color: #ccc;
	padding: 20px;
}

.title-section div{
	text-align: center;
}

#carousel-example-generic{
	padding-top: 82px;
}

.row.title-section{
	padding-top: 102px!important;
}
/*HEADER*/

.navbar.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: white;
	border-color: white;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.carousel .carousel-indicators li{
	margin: 0 10px !important;
}

.navbar-header{
	height: 80px;
}

.navbar-toggle{
	padding: 12px 13px;
	margin-top: 20px;
}

ul.nav.navbar-nav{
	margin-top: 15px;
}

ul.nav.navbar-nav li:hover a{
	color: #000;
}

.navbar-header a img{
	height: 70px;
	margin-top: -10px;
}

.navbar-toggle.collapsed span.icon-bar, .navbar-inverse .navbar-toggle:hover span, .navbar-inverse .navbar-toggle:focus span, .navbar-inverse .navbar-toggle:active span, .navbar-inverse .navbar-toggle span.icon-bar{
	background-color: #000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active{
	background-color: #FFF;
}

/*FOOTER*/

.bottom-footer{
	background: #2B2B2B;
	border-bottom: 1px solid #413d3e;
	padding: 20px;
}

.legal-links, .menu-links{
	list-style: none;
	padding: 0
}

.legal-links li, .menu-links li{
	display: inline-block;
	margin: 0 10px;
}

.legal-links li a, .legal-links span, .copyright-footer p{
	color: white;
}

.legal-links li a:hover, .menu-links li a:hover{
	text-decoration: none;
	color: #337ab7;
}

.menu-links, .footer-logo h3{
	margin: 0;
}

.menu-links li a, .footer-logo h3{
	color: #7F7F7F;
}

/*MISION*/
.section-mision{
	padding: 20px;
}

.image-mision{
	padding: 5px;
	border: 2px solid #000;
}

.image-mision img{
	width: 100%;
	height: 320px;
}

.text-mision{
	padding-top: 107px;
	text-align: justify;
}

/*OUR SOLUTIONS*/
.our-solutions{
	background: #B7D3DA;
}

.our-solutions-body, .our-solutions-header{
	text-align: center;
	padding: 60px;
}

.our-solutions-header{
	padding-bottom: 0px;
}

.our-solutions-body .col-md-4{
	margin-bottom: 40px;
}

.solutions-imges{
	background: #820701;
	border-radius: 50%;
	width: 164px;
	height: 163px;
	display: inline-block;
	position: relative;
}

.solutions-imges img{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	margin: auto;
}

/*MEDIAS*/

@media (max-width: 500px) {
	.carousel p{
		font-size: 12px;
	}

	.carousel h1{
		font-size: 20px;
	}

	.navbar-header a.navbar-brand img{
		height: 60px;
		margin-top: -5px;
		margin-left: -10px;
	}
}

@media (max-width: 774px) {
	#carousel-example-generic, #carousel-example-generic img{
		height: 310px;
	}
}

@media (max-width: 750px) {
	.bottom-footer{
		padding: 10px;
	}

	.footer-mobile{
		margin-top: 10px;
		text-align: center;
		width: 100%;
		font-size: 12px;
	}
}

@media (max-width: 991px) {
	.text-mision{
		padding-top: 0;
		margin: 20px 0;
	}
}